.custom-bg-purple {
  background-color: #1b3457 !important;
}

.custom-bg-gold {
  background-color: #b0bec5 !important;
}

.custom-purple-color {
  color: rgba(136, 10, 43, 0.757) !important;
}
/* איפה שהנב בר */
.custom-gold-color {
  color: rgba(255, 54, 108, 0.735) !important;
  font-weight: bold !important;
}

h3 {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.signature {
  font-family: "Great Vibes", cursive;
  font-size: 2rem; /* תוכל לשנות לגודל אחר */
  color: rgba(136, 10, 43, 0.757); /* או כל צבע שתרצה */
  font-size: 88px;
  font-weight: 600;
}

.officle-font-header {
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-size: 2.5rem; /* תוכל לשנות לגודל אחר */
  color: rgba(136, 10, 43, 0.757); /* או כל צבע שתרצה */
}

.officle-font {
  font-family: "Great Vibes", cursive;
  font-size: 2rem; /* תוכל לשנות לגודל אחר */
  color: rgba(136, 10, 43, 0.757); /* או כל צבע שתרצה */
}

.social-icon {
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.1);
}

/* מסיר קו תחתון מהקישורים */
.footer {
  text-decoration: none;
  font-weight: bold; /* הופך את הטקסט לעבה יותר */
  color: white; /* צבע הטקסט */
}

/* מסיר את הצבע הכחול לאחר לחיצה */
.footer:focus,
.footer:active {
  outline: none;
  box-shadow: none;
  color: white;
}

.logo {
  text-decoration: none;
  font-size: 30px;
}

.logo-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.user-detalis {
  width: 50%;
  margin: auto;
}

.main-image {
  background-image: url("../LOGOS/ai-generated-8612487_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-frame {
  max-width: 700px;
  margin: 50px auto;
  padding: 60px 40px;
  background: #b58e62; /* צבע קרמי עתיק */
  border: 8px solid #b58e62; /* חום כהה למסגרת */
  border-radius: 20px;
  box-shadow: inset 0 0 30px #cbb79e,
    /* מראה שחוק פנימי */ 0 0 30px rgba(0, 0, 0, 1.5); /* צל חיצוני */
  font-family: "Georgia", serif; /* פונט קלאסי */
  text-align: center;
  position: relative;
  opacity: 0.8;
}

/* קישוטים בפינות */
.book-frame::before,
.book-frame::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: contain;
}

.book-frame::before {
  top: -20px;
  left: -20px;
}

.book-frame::after {
  bottom: -20px;
  right: -20px;
}

.backgroundImages {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 80vh; /* גובה כלשהו בשביל לראות את התמונה */
}

.backgroundImages::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* אפשר לשלוט ברמת השקיפות */
  backdrop-filter: brightness(
    50%
  ); /* מוריד את הבהירות, יוצר אפקט של שקיפות לתמונה */
  z-index: 1;
}

.backgroundImages > * {
  position: relative;
  z-index: 2;
}

.eden-logo {
  width: 50px;
  height: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.book-frame[data-page="zodiacs"] {
  background-color: rgba(154, 87, 5, 0.4); /* שקיפות קלה לרקע */
  backdrop-filter: blur(49px); /* מטשטש בעדינות מה שמתחת */
  border-radius: 20px;
  box-shadow: inset 125px 10px 20px rgba(106, 58, 0, 0.4),
    /* אפקט פנימי רך */ 20px 20px 20px 20px #1b3457; /* צל חיצוני שקוף */
  padding: 20px;
}

.zodiacs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 5px;
}

.item {
  background-color: #1b3457;
  color: #b58e62;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.item:hover {
  background-color: #b58e62;
  color: #1b3457;
  transform: scale(1.1); /* גידול פרופורציונלי כשהסמן על הפריט */
}

.item::after {
  content: "";
  background: rgba(255, 255, 255, 0.2); /* צבע לבן חצי שקוף */
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.4s ease;
}

.item:hover::after {
  transform: scale(1); /* אפקט עיגול בתמונה כשהסמן על הפריט */
}

.book-frame[data-page="my-services"] {
  padding: 10px;
  width: 70%;
  margin-top: 10px;
  font-weight: 700;
}
.book-frame[data-page="my-services"] p {
  font-size: 20px;
}
.book-frame[data-page="my-services"] h3 {
  font-size: 26px !important ;
}

@media (max-width: 550px) {
  /* למסכים קטנים מאוד */
  .logo-container {
    margin: 0; /* ביטול המרווח */
  }

  .logo {
    text-decoration: none;
    font-size: 20px;
  }

  .user-detalis {
    width: 100%;
  }

  .sign-in-page {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-sign-up {
    width: 25%;
  }
}

.color-my-services-text {
  color: #1c0222;
}

@media (min-width: 551px) and (max-width: 1200px) {
  .home-page-for-tablets {
    min-height: 50vh; /* לפחות גובה מלא של המסך */
    display: flex; /* גורם לתוכן להימתח בהתאם */
    flex-direction: column;
    justify-content: space-around; /* ממקם את התוכן במרכז אנכי */
  }
}
